﻿<!DOCTYPE html>
<html ng-app="charts">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl">

    <select ng-model="dayselect">
        <option value="0">--Select--</option>
        <option value="7">Last 7 Days</option>
        <option value="31">Last 31 Days</option>
    </select>

    <input type="radio" ng-model="charttype" value="LineChart" /> Line Chart 
    <input type="radio" ng-model="charttype" value="BarChart" /> Bar Chart
    <input type="radio" ng-model="charttype" value="PieChart" /> Pie Chart

    <button ng-click="chartbind()">Submit</button>

    <div google-chart chart="chart" style="width: 900px; height: 500px;"></div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/ng-google-chart.js"></script>
    <script src="index.js"></script>
</body>
</html>
